{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}
Account Overview
{% endblock title %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Accounts
    </h1>
    <div class="custom-control">
      <a href="{% url 'budget:money_account_create' %}" class="btn btn-success"><i class="fas fa-plus"></i> <span>Add New Money Account</span></a>
    </div>
  </div>
  <div class="custom-control custom-checkbox small">
    <form action="{% url 'budget:budget' %}">
      <input type="checkbox" class="custom-control-input" name="moneyActive" id="moneyActive" onclick="form.submit();" {% if not money_active_only %} checked {% endif %} value="{{ budget_active_only }}">
      <label class="custom-control-label" for="moneyActive">Show Inactive Money Accounts</label>
    </form>
  </div>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    {% for account in maccounts %}
    <div class="col-xl-3a col-md-6 mb-4">
      <div class="card shadow h-100 py-2">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <a href="{% url 'budget:money_account' account.id %}">
            <h6 class="text font-weight-bold {% if not account.active %} text-gray-300 {% else %} text-primary {% endif %} text-uppercase mb-1">{{ account.name }}</h6>
          </a>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'budget:money_account_edit' account.id %}">Edit {{ account.name }}</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold {% if not account.active %} text-gray-300 {% elif account.total > 0 %} text-success {% elif account.total < 0 %} text-danger {% endif %}">${{ account.total | intcomma }}</div>
              {% if account.is_brokerage %}
              <div class="h8 ml-2 font-weight-bold {% if not account.active %} text-gray-300 {% else %} text-gray-500 text-opacity-50 {% endif %}">${{ account.investment_sum | intcomma }}</div>
              {% endif %}
            </div>
            <div class="col-auto">
              <i class="fas 
              {% if account.account_type.account_type == 'Credit Card' %}
                fa-credit-card
              {% else %}
                fa-piggy-bank
              {% endif %} fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- /.container-fluid -->
<!-- Begin Page Content -->
{% if flex_account %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Flex</h1>
  </div>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3a col-md-6 mb-4">
      <div class="card shadow h-100 py-2">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <a href="{% url 'budget:budget_account' flex_account.id %}">
            <h6 class="text font-weight-bold text-primary text-uppercase mb-1">{{ flex_account.name }}</h6>
          </a>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'budget:budget_account_edit' flex_account.id %}">Edit {{ flex_account.name }}</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold {% if flex_account.total > 0 %} text-success {% elif flex_account.total < 0 %} text-danger {% endif %}">${{ flex_account.total | intcomma }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-funnel-dollar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- /.container-fluid -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Expenses/Savings</h1>
    <div class="custom-control">
      <a href="{% url 'budget:budget_account_create' %}" class="btn btn-success"><i class="fas fa-plus"></i> <span>Add New Expense/Saving</span></a>
    </div>
  </div>
  <div class="custom-control custom-checkbox small">
    <form action="{% url 'budget:budget' %}">
      <input type="checkbox" class="custom-control-input" name="budgetActive" id="budgetActive" onclick="form.submit();" {% if not budget_active_only %} checked {% endif %} value="{{ money_active_only }}">
      <label class="custom-control-label" for="budgetActive">Show Inactive Budget Accounts</label>
    </form>
  </div>
  <!-- Table -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Expense</th>
              <th>Monthly Contribution</th>
              <th>Annual Contribution</th>
              <th>Currently Have</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for account in budget_accounts %}
            <tr>
              <td>
                <a href="{% url 'budget:budget_account' account.id %}" class="nav {% if not account.active %}
                  text-gray-300
                {% endif %}">{{ account.name }}</a>
              <td>${{ account.monthly_contribution | floatformat:2 | intcomma}}</td>
              <td>${{ account.annual_contribution | floatformat:2 | intcomma}}</td>
              <td>
                <div class="{% if not account.active %} text-gray-300 {% elif account.total > 0 %} text-money {% elif account.total < 0 %} text-danger {% endif %}">${{ account.total | intcomma }}</div>
                {% if account.investment_sum > 0 %}
                <div class="ml-2 {% if not account.active %} text-gray-300 {% else %} text-gray-500 text-opacity-50 {% endif %}">${{ account.investment_sum | intcomma }}</div>
                {% endif %}
              </td>
              <td>
                <div class="row">
                  <form action="{% url 'budget:budget_account_edit' account.id %}" method="get">
                    <button class="fas fa-edit text-edit"></button>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End of Main Content -->
{% endblock content %}
<!-- End of Page Wrapper -->
